input[aria-invalid="true"] {
  border: 2px solid red;
}

input,
select {
  box-sizing: border-box;
  padding: 1px 2px;
  height: 30px;
  padding: 0px 5px;
  outline: none;
  border: 2px solid gray;
}

p[role="alert"] {
  color: red;
}

button,
form > input[type="submit"] {
  height: fit-content;
  width: 200px;
  height: 40px;
}

.page-ouverture {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: 10px;
  padding-bottom: 10px;
  flex: 1 1;
}

form > div {
  box-sizing: border-box;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  overflow: auto;
  padding: 10px;
  border-bottom: 1px solid gray;
}

form > div[hidden] {
  display: none;
}

form > input[type="submit"] {
  align-self: flex-end;
  margin-right: 10px;
}

.form-progress {
  display: flex;
  flex-direction: row;
}

.form-progress > div {
  height: 50px;
  border: 2px solid gray;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.form-progress > div > p {
  margin: 0;
}

.form-progress > div > div {
  position: absolute;
  height: 5px;
  background-color: lightgray;
  width: 100%;
  bottom: 0;
}

.form-progress > div > div.selected {
  background-color: rgb(46, 136, 167);
}

.shown {
  display: block;
}
