.page-ouverture input[aria-invalid="true"] {
  border: 2px solid red;
}

.page-ouverture input,
.page-ouverture select {
  box-sizing: border-box;
  padding: 1px 2px;
  height: 25px;
  padding: 0px 5px;
  outline: none;
  border: 2px solid gray;
}

.page-ouverture label {
  font-size: 1rem;
}

.page-ouverture p[role="alert"] {
  color: red;
}

.page-ouverture button,
.page-ouverture form > input[type="submit"] {
  height: fit-content;
  width: 200px;
  height: 40px;
}

.page-ouverture {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-ouverture h1 {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  flex-basis: 60px;
  line-height: 60px;
  padding-left: 20px;
  border-bottom: 2px solid rgb(151, 151, 151);
}

.page-ouverture form {
  margin-top: 25px;
  padding-left: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
}

.page-ouverture form > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.page-ouverture form h2 {
  width: 95%;
  margin: 0;
}

.page-ouverture .line {
  height: 2px;
  background-color: lightgray;
  padding: 0;
}

.page-ouverture button {
}
